## STATS 306 WI 2020, HW 4, _25 points_

Assigned: 03/23/2020

Due: 04/06/2020 at 11:59 pm (no credit for late submissions)

In [1]:
library(tidyverse)
library(stringr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.4
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Problem 1, _5 points_

There are no right or wrong answers for this problem. I am just including it to make HW 4 a bit less stressful as we all continue to learn how to deal with the COVID-19 pandemic.

**(1)** List 5 things that made you smile last week! _1 point_

- sth that made you smile
- sth that made you smile
- sth that made you smile
- sth that made you smile
- sth that made you smile

**(2)** List 4 adjectives that describe your last week! _1 point_

- adj that describes your last week
- adj that describes your last week
- adj that describes your last week
- adj that describes your last week

**(3)** List 3 things you are looking forward to in the next week! _1 point_

- sth you look forward to
- sth you look forward to
- sth you look forward to

**(4)** List 2 things you learnt last week! _1 point_

- sth you learnt
- sth you learnt

**(5)** List 1 goal you have for next week! _1 point_

## Problem 2, 5 points

This problem consists entirely of 1 point parts where the answer is either True or False. Just delete the option that is incorrect leaving the correct answer in the empty cells provided.

**(1)** Explicitly missing values in R are marked clearly using the string `"NA"`.

False, it's `NA` --not a string

**(2)** `complete()` makes missing values explicit.

True

**(3)** The argument to `fill()` that sets the direction in which to fill missing values is called `.direction`.

True

**(4)** `str_replace_na()` can be used to convert occurrences of `NA` into the string `<missing>`.

True `str_replace_na(c('aa', NA), replacement = "<missing>")`

**(5)** `values_drop_na` is an optional argument for both `pivot_wider()` and `pivot_longer()`.

False

### Problem 3, _5 points_

In the code output below, don't worry about the greater than sign before `writeLines()`. That's just the R prompt that does not show up in jupyter. I included it below so that it is easy to figure out indentation levels across different lines.

 **(1)** Create a string and assign to the variable `beckett` such that `writeLines(beckett)` displays the following: _1 point_
 
```
> writeLines(beckett)
Ever tried. Ever failed. No matter.
Try Again. Fail again. Fail better.
-- Samuel Beckett
 ```

In [2]:
# I am using str_c to make the line not cutoff
beckett = c('Ever tried. Ever failed. No matter.',
            'Try Again. Fail again. Fail better.',
            '-- Samuel Beckett')
beckett = str_c(beckett, collapse = '\n')
writeLines(beckett)

Ever tried. Ever failed. No matter.
Try Again. Fail again. Fail better.
-- Samuel Beckett

**(2)** Create a string and assign to the variable `covid19` such that `writeLines(covid19)` displays the following. Note that the whitespace before the numbers 1, 2, 3, etc. is supposed to be a tab character. _1 point_

```
> writeLines(covid19)
DO THE FIVE
Help stop coronavirus

	1. HANDS Wash them often
	2. ELBOW Cough into it
	3. FACE Don't touch it.
	4. SPACE Keep safe distance
	5. HOME Stay if you can
```

In [3]:
covid19 = c('DO THE FIVE',
            'Help stop coronavirus',
            '\n\t1. HANDS Wash them often',
            '\t2. ELBOW Cough into it',
            "\t3. FACE Don't touch it.",
            '\t4. SPACE Keep safe distance',
            '\t5. HOME Stay if you can')
covid19 = str_c(covid19, collapse = '\n')
writeLines(covid19)

DO THE FIVE
Help stop coronavirus

	1. HANDS Wash them often
	2. ELBOW Cough into it
	3. FACE Don't touch it.
	4. SPACE Keep safe distance
	5. HOME Stay if you can

**(3)** Create a string and assign to the variable `drseuss` such that `writeLines(drseuss)` displays the following: _1 point_

```
> writeLines(drseuss)
The more you READ,
 the more you know,
  the more you LEARN,
   the more places
    you'll GO!
-Dr. Seuss
```

In [4]:
drseuss = c('The more you READ,',
            ' the more you know,',
            '  the more you LEARN,',
            '   the more places',
            "    you'll GO!",
            "-Dr. Seuss")
drseuss = str_c(drseuss, collapse = '\n')
writeLines(drseuss)

The more you READ,
 the more you know,
  the more you LEARN,
   the more places
    you'll GO!
-Dr. Seuss

**(4)** Create a string and assign to the variable `its_all_greek_to_me` such that `writeLines(its_all_greek_to_me)` displays the following: _1 point_

```
> writeLines(its_all_greek_to_me)
The first three small greek letters are:
α, β, and γ.
The first three capital greek letters are:
Α, Β, and Γ.
```

_Hint:_ You can consult [the wikipedia page](https://en.wikipedia.org/wiki/List_of_Unicode_characters) containing a list of unicode characters.

In [5]:
its_all_greek_to_me=c('The first three small greek letters are:',
                      '\u03B1, \u03B2, and \u03B3.',
                      'The first three capital greek letters are:',
                      '\u0391, \u0392, and \u0393')
its_all_greek_to_me = str_c(its_all_greek_to_me, collapse = '\n')
writeLines(its_all_greek_to_me)

The first three small greek letters are:
α, β, and γ.
The first three capital greek letters are:
Α, Β, and Γ

**(5)**  Create a string and assign to the variable `escapes` such that `writeLines(escapes)` displays the following: _1 point_

```
> writeLines(escapes)
The most common are "\n", newline, and "\t", tab.
```

In [6]:
escapes = 'The most common are "\\n", newline, and "\\t", tab'
writeLines(escapes)

The most common are "\n", newline, and "\t", tab

### Problem 4, _10 points_

**(1)** Define the variable `regex` such that it matches three digit dollar amounts of the form "$xxx" where each 'x' represents a digit. For example, you should see the following behavior: _2 points_
```
> x <- c("You owe me $100", "I spent $10", "I gave you $999", "We have no money")
> str_detect(x, regex)
[1]  TRUE FALSE  TRUE FALSE
> str_extract(str_subset(x, regex), regex)
[1] "$100" "$999"
```

In [7]:
x <- c("You owe me $100", "I spent $10", "I gave you $999", "We have no money")
regex = "\\$\\d{3}\\b"
str_detect(x, regex)

[1]  TRUE FALSE  TRUE FALSE

**(2)** The character vector `words` is predefined for you when you load `tidyverse` and `stringr`. Write the command to calculate the number of words in `words` that both start and end in a vowel. _2 points_

In [8]:
sum(str_detect(words, "(^[aeiou].*[aeiou]$)|(^[aeiou]$)"))

[1] 53

**(3)** Define the variable `regex2` such that it matches only those strings that are _entirely_ composed of a dollar-cent amount of the form "$x···x.yy". Note that the dollar part "x···x" should have one or more digits and the cent part "yy" should have exactly two digits. For example, you should see the following behavior: _3 points_
```
> x <- c("$0.99", "$1.23 is due", "have $0.87", "$100.01", "$100.0101")
> str_detect(x, regex2)
[1]  TRUE FALSE FALSE  TRUE FALSE
```

In [9]:
x <- c("$0.99", "$1.23 is due", "have $0.87", "$100.01", "$100.0101")
regex2 = "^\\$\\d+\\.\\d{2}$"
str_detect(x, regex2)

[1]  TRUE FALSE FALSE  TRUE FALSE

**(4)** Suppose we create a tibble `df` using
```
> df <- tibble(word = words, i = seq_along(words))
```
Then, write a command using `filter` to return exactly those rows of `df` where `word` has more vowels than consonants.  _2 points_

In [10]:
df <- tibble(word = words, i = seq_along(words))
df %>% filter(str_count(word, "[aeiou]")>str_count(word, "[^aeiou]"))

   word      i
1  a           1
2  about       3
3  achieve     7
4  again      20
5  age        22
6  ago        24
7  agree      25
8  air        26
9  america    36
10 area       49
11 argue      50
12 associate  57
13 available  62
14 aware      63
15 because    80
16 believe    86
17 cause     134
18 colleague 166
19 die       228
20 due       250
21 eat       256
22 educate   258
23 encourage 268
24 equal     276
25 europe    278
26 eye       296
27 house     406
28 idea      412
29 imagine   415
30 issue     434
31 leave     465
32 lie       472
33 measure   513
34 obvious   565
35 one       577
36 operate   580
37 out       590
38 piece     620
39 quiet     670
40 quite     671
41 radio     672
42 raise     674
43 realise   681
44 receive   684
45 require   699
46 see       734
47 serious   741
48 situate   771
49 tea       842
50 tie       872
51 too       879
52 union     904
53 unite     906
54 use       912
55 usual     913
56 value     914
57 various   915
58 video     917
59 wee       937
60 you       979

**(5)** Define the variable `regex3` such that it matches the three character sequence `"'\`. Note that this sequence consists of a double quote, a single quote, and a backslash. _1 point_

In [11]:
regex3 = "\"'\\\\"